@use "global" as *;

.layout-tab {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(148);
  }
}

.layout-tab.layout-tab--information {
  margin-top: rem(121);
  @include mq("md") {
    margin-top: rem(148);
  }
}
