@use "global" as *;

.price-list__content {
  margin-top: rem(29);
  @include mq("md") {
    margin-top: rem(40);
    display: flex;
    flex-wrap: wrap;
    order: 2;
    flex: 1;
  }
}

.price-list__img {
  width: 100%;
  @include mq("md") {
    order: 1;
    flex: 1;
    margin-left: rem(95);
    width: calc(calc(492 / 1080) * 100%);
  }
}

.price-list__img img {
  width: 100%;
  aspect-ratio: 345/227;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 492/745;
  }
}

.price-list__wrap {
  @include mq("md") {
    width: calc(calc(492 / 1080) * 100%);
  }
}

.price-list__category {
  margin-top: rem(39);
}

.price-list__category:first-child {
  @include mq("md") {
    margin-top: rem(0);
  }
}
.price-list__category-title {
  font-weight: $bold;
  line-height: calc(24 / 16);
  color: $green;
  border-bottom: 1px solid $green3;
  padding-bottom: rem(4);
}

.price-list__item {
  margin-top: rem(8);
  display: flex;
  justify-content: space-between;
}

.price-list__item-name {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
  color: $green;
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}
.price-list__item-price {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
  color: $green;
  padding-left: rem(15);
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}

.price-list__item-btn {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
