@use "global" as *;

.sub-blog-list__item {
  position: relative;
  color: $green;
  line-height: calc(24 / 16);
  padding-left: rem(27);
}

.sub-blog-list__item::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: rem(18);
  height: rem(18);
  background: url("/assets/images/common/sub-blog-icon-img.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sub-blog-list__item + .sub-blog-list__item {
  margin-top: rem(4);
}
