@use "global" as *;

.sub-information {
  position: relative;
}

.sub-information::before {
  content: "";
  position: absolute;
  background: url("/assets/images/common/voice-fish-img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  top: rem(-169);
  left: calc(max(0px, 50% - min(48vw, rem(172))));
  width: rem(120);
  height: rem(55);
  z-index: -1;
  @include mq("md") {
    top: rem(-181);
    left: calc(max(0px, 50% - min(48vw, rem(620))));
    width: rem(301);
    height: rem(138);
  }
}

.sub-information__inner {
  max-width: rem(630);
}
